{% extends 'configuracao/app.html' %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'inicio' %}">Início</a></li>
    <li><a href="{% url 'minhasAtividades' %}">Minhas Atividades</a></li>
    <li class="is-active"><a href="" aria-current="page"> Inserir Sessão</a></li>
  </ul>
</nav>
<div style="padding: 3rem 2vw 1rem">
  <form method="POST">
    {% csrf_token %}
  <div class="b-steps">
    <section class="step-content">
        <div class="step-item">
          <div style="padding: 1rem 2vw 0px;">
            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem; margin-bottom: 2rem;">Minhas Sessoes</h2>

            <div class="table ">
                            <div class="table-wrapper">
                                <table class="table has-mobile-cards is-hoverable">
                                    <thead>
                                        <tr>
                                            <th  style="width: 300px;">
                                                <div class="th-wrap">
                                                     Horário
                                                    <span class="icon is-small">
                                                        <i class="mdi mdi-menu-up"></i>
                                                    </span>
                                                </div>
                                            </th>
                                            <th style="width: 300px;">
                                                Inscritos
                                                <span class="icon is-small">
                                                    <i class="mdi mdi-menu-up"></i>
                                                </span>
                                            </th>
                                            <th style=""></th>
                                        </tr>
                                    </thead>
                                    <tbody>    
                                        {% for sessao in sessoes %} 
                                        <tr draggable="false">
                                            <td data-label="Nome">{{sessao.horarioid.inicio}} até  {{sessao.horarioid.fim}}</td>
                                            <td data-label="Submetido a">{{sessao.ninscritos}}</td>  
                                            <td>
                                                <a href={%url 'eliminarSessao' sessao.id %}>
                                                    <span class="icon has-text-danger">
                                                        <i class="mdi mdi-trash-can-outline mdi-24px"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr/>
            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem; margin-bottom: 2rem;">Adicionar Sessao</h2>
            <div class="columns">        
                    <div class="column is-half">
                      <div class="field" >
                        <label class="label">Horário</label>
                        <div class="control">
                          <div class="select is-fullwidth" >
                            <select name="idhorario">
                              {% for schedule in horario %}
                              <option value="{{schedule.id}}">{{schedule.inicio}} até {{schedule.fim}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="column is-half">
                      <div class="field" >
                        <label class="label"></label>
                        <br>
                        <div class="control">
                          <button class="button is-outlined" name="new" value="New">
                            <span>Nova Sessao</span>
                          </button>
                            
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
 
        <hr>
        </div>     
    </section>
    <div class="column is-8 is-offset-2">
      <div class="level">
      <div class="level-left">
         <button class="button is-outlined" name="cancelar" value="Cancelar">
            <span>Cancelar</span>
         </button>
      </div>
      <div class="level-right">
            <button class="button is-large is-success is-outlined is-link" type="submit" name="save" value="Save">
            <span>Finalizar Proposta</span>
            <span class="icon is-medium">
              <i class="mdi mdi-forward mdi-36px"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<style>
  .label {
  font-weight: normal;
}
.b-steps .steps .step-items .step-item .step-details .step-title {
  font-size: 1rem;
}
</style>
{% endblock content %}