{% extends 'configuracao/app.html' %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'inicio' %}">Início</a></li>
    <li><a href="{% url 'minhasAtividades' %}">Minhas Atividades</a></li>
    <li class="is-active"><a href="{% url 'proporAtividade' %}" aria-current="page">Alterar Atividade</a></li>
  </ul>
</nav>
<div style="padding: 3rem 2vw 1rem">
    <form method="POST" action="">
        <div class="b-steps">
            <section class="step-content">
                <div class="step-item">
                    <div style="padding: 1rem 2vw 0px">
                        <hr>
                        <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                        Informação de atividade
                        </h2>
                        <div class="columns">
                        <div class="column">
                        
                            <div class="field">
                            <label class="label">Nome da Atividade</label>
                            <div class="control">
                                {{form.nome}}
                            </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                            <label class="label">Tipo de Atividade</label>
                            <div class="control is-expanded">
                                <div class="select is-fullwidth">
                                {{form.tipo}}
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="columns">
                        <div class="column">
                            <div class="field">
                            <label class="label">Descrição</label>
                            <div class="control">
                                {{form.descricao}}
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                <label class="label">Público Alvo</label>
                                    <div class="control">
                                    <div class="select is-fullwidth">
                                        {{form.publicoalvo}}
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                <label class="label">Colaboradores Necessarios</label>
                                    <div class="control">
                                    {{form.nrcolaboradoresnecessario}}
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                <label class="label">Tema</label>
                                    <div class="control">
                                    <div class="select is-fullwidth">
                                        {{form.tema}}
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column ">
                                <div class="field">
                                <label class="label">Duração Esperada</label>
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            {{form.duracaoesperada}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                <label class="label">Número de Participantes</label>
                                    <div class="control">
                                    {{form.participantesmaximo}}
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                <label class="label">Espaço</label>
                                    <div class="control is-expanded">
                                        <div class="select is-fullwidth">
                                            <select name="espacoid">
                                                <option selected value="{{espaco.id}}">{{espaco.nome}} {{espaco.edificio}}</option>
                                                {% for esp in espacos %}
                                                    <option value="{{esp.id}}" >{{esp.nome}} {{esp.edificio}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </section>
        </div>
    <div class="column is-8 is-offset-2">
      <div class="level">
        <div class="level-left">
          <a href="javascript:history.back()" class="button is-outlined" type="button">
            <span>Cancelar</span>
          </a>
        </div>
        <div class="level-right">
          <button type="submit" class="button is-large is-success is-outlined is-link">
            <span>Próximo</span>
            <span class="icon is-medium">
              <i class="mdi mdi-forward mdi-36px"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{field.label|escape}}{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    {% csrf_token %}
</form>
  </div>
</div>
<style>
  .label {
  font-weight: normal;
  }
.b-steps .steps .step-items .step-item .step-details .step-title {
  font-size: 1rem;
}
</style>
{% endblock content %}